<div class="row">
  <div class="col-8 offset-2">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input id="title" type="text" class="form-control" name="title" required ngModel>
      </div>
      <div class="form-group">
        <label for="contain">Contenu</label>
        <textarea id="contain" type="text" class="form-control" name="contain" required ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enregistrer</button>
    </form>
  </div>
</div>
