<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/posts" routerLinkActive="active">Liste<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/new" routerLinkActive="active">Ajouter</a>
    </div>
  </div>
</nav>
