<app-menu></app-menu>
<div class="container">
	<div class="row">
		<div class="col-12">
			<ul class="list-group">
        <div *ngIf="router.url === '/posts'" class="margin-top">
          <h2>Liste des posts</h2>
          <app-post *ngFor="let post of posts"
                  [postId]="post.id"
                  [postTitle]="post.title"
                  [postContain]="post.contain"
                  [lastUpdate]="lastUpdate"
                  [like]="post.like"
                  [dislike]="post.dislike">
          </app-post>
        </div>

				<div *ngIf="router.url === '/new'" class="margin-top">
          <h2>Ajouter un nouveau post</h2>
          <app-new-post></app-new-post>
        </div>
			</ul>
		</div>
	</div>
</div>
