<li class="list-group-item" [ngStyle]="like > dislike && { 'background-color': 'green' } || dislike > like && { 'background-color': 'red' }">
	<h4>
		{{ postTitle }}
		<span style="float: right; top: 0; font-size: 0.6em; color: grey;">{{ lastUpdate | date: "medium"}}</span>
    </h4>

	<p>{{ postContain }}</p>
	<div class="row">
    <div class="col-8">
      <button class="btn btn-outline-success" style="margin-right: 20px; margin-left: 20px;" (click) = "managePost.addLike(postId)">Love It</button>
		  <button class="btn btn-outline-danger" (click) = "managePost.addDislike(postId)">Don't Love It</button>
    </div>
    <div class="col-4">
      <button class="btn btn-outline-danger float-right" (click) = "managePost.removePost(postId)">Delete</button>
    </div>
	</div>
</li>
